{%extends "./blog/base.html"%}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
<h5>本站基于<a href="http://baike.baidu.com/link?url=8pJLigqgIfumW0N2Az3vhhbTrpsp11dRMG-vXEVTpfRA_Rerb-wc4SPVZBgG6GtDtePUMmZnWfZ52vOShyw4UK"  >Django</a>和<a href="http://baike.baidu.com/link?url=C95YSC7rmvVyXaNF6x1im4udvs7VPAAZzkPEVc15nh6u_j35R7bXcXwG7kmiiZuSKdMm17vrC22ca8PaTK2G3N6l711iYA-dbCg6Cg3S1Se" >Bootstrap</a>搭建，实现了电院公共邮箱<em><a href="http://mail.163.com">dzkxygcxyyjs@163.com</a></em>邮件的自动下载和展示，并具有简单的搜索和评论功能。</h5>
<p>Github地址：<a href="" target="_blank">Github</a></p>
<p>BUG提交或问题交流，请发邮件至：<a href="mailto:wqn230@163.com">wqn230@163.com</a></p>

<p><small><em>了解更多建站细节，请访问<a href="" >我的博客</a></em></small></p>
</div>
{%endblock%}